# Contents of /etc/systemd/system/incubator_admin_panel.service
# See https://wiki.debian.org/systemd/Services for more info.
[Unit]
Description=OpenPlant incubator admin panel
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=python3 SCRIPT_DIR/admin_dash.py
TimeoutStartSec=300
User=USERNAME

[Install]
WantedBy=multi-user.target
